<template>
    <div>
        <div class="flex justify-center pt-4">
            <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="task_name">
                        Todo Description
                    </label>
                    <textarea
                        v-model="todo_description"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        rows="3"
                        placeholder="Description"
                    ></textarea>
                </div>
                <div class="flex items-center">
                    <button
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-2"
                        type="button"
                        :class="{ 'opacity-25 cursor-not-allowed': !todo_description }"
                        :disabled="!todo_description"
                        @click="addTodo"
                    >
                        Add Todo
                    </button>
                </div>
                <li v-for="todo in todos">
                   {{ todo.description }}
                </li>
            </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: "AddToDo",
    data() {
        return {
          todo_description: null,
          todos: []
        };
    },
    methods: {
        async addTodo() {
            axios.post('/api/create', { description: this.todo_description}).then((response)=>{
                this.todos = response.data
            }).catch((error)=>{
                console.log(error)
            })
            this.todo_description = null
        },
    },
};
</script>
