<template>
    <div>
        <div class="flex justify-center items-center border-b border-gray-300">
            <div class="text-4xl text-blue-400 font-semibold p-2">
                Contractuo
            </div>
        </div>
        <add-to-do></add-to-do>
    </div>
</template>

<script>
import AddToDo from './AddToDo'
export default {
    name: "AppRoot",
    components: { AddToDo }
};
</script>
